.panel--construccion {
    overflow: auto; /* scroll si el contenido sobrepasa */
}
#catalogo-edificios-tablet{
        display: flex;
        flex-direction: row;
        gap: 5px;
        overflow-x: scroll;
        align-items: stretch;
    }

    .tarjeta-edificio{
        flex: 0 0 clamp(130px, 14vw, 180px);

        display: flex;
        flex-direction: column;

        padding: 8px;
        border-radius: 8px;
        background: #f3f3f3;
        border: 1px solid var(--color-texto);
        text-align: center;
        height: auto;
        overflow-y: hidden;
    }
    .edificio__info.seleccionado{
        display: none;
    }
    .tarjeta-edificio.seleccionada{

        border-radius: 8px;
        border: 8px solid var(--color-dinero);
    }
    .tarjeta-edificio.seleccionada .edificio__info{
        display: none;
    }
    .tarjeta-edificio.seleccionada .edificio__info.seleccionado{
        display: block;
    }
    .edificio__descripcion{
        min-height: 4.5em;
    }

    .edificio__imagen{
        width: 150px;
        height: 150px;
        object-fit: contain;

    }

    .valor-edificio{
        margin-top: auto;
        background-color: var(--color-primario);
        color: white;
    }